
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about this project</h4>

					<p>I build this project to store the DSA problems I solve and in this journey if I also help you to learn DSA.</p>

					<br>

					<p>I am continuously trying to increase the number of DSA problem's solution on this website.</p>

					<br>
					<p>Feel free to ping me on my social media for any query, I mostly spend my time there.</p>


					<hr>

					<!-- <h4>TOP EXPERTISE</h4>

					<p>I work on Frontend and brainstorming of idea most of the time.</p>

					<div id="skills">
						<ul>
							<li>Python</li>
							<li>SQL</li>
							<li>JavaScript</li>
							<li>Boostrap</li>
							<li>C++</li>
						</ul>

						<ul>
							<li>Machine Learning</li>
							<li>API handling</li>
							<li>Team Management</li>
							<li>Heroku & Github</li>
							<li>HTML/CSS</li>
						</ul>

					</div> -->

				</div>

				
				<div class="social-links">
					
					<h3>Stalk me as much as you want : </h3>
					<div class="same">
					<a target="_blank" href="https://www.instagram.com/an_core_/"><img id="instagram" src="https://image.flaticon.com/icons/png/512/1400/1400829.png"></img></a>
					
					<!-- <a target="_blank" href="https://twitter.com/devshub21"><img id="twitter" src="https://image.flaticon.com/icons/png/512/1384/1384049.png"></img></a> -->

					<a target="_blank" href="https://github.com/ancoreraj"><img id="github" src="https://image.flaticon.com/icons/png/512/25/25657.png"></img></a>
					
					<a target="_blank" href="https://www.linkedin.com/in/ankur-raj-/"><img id="linkedln" src="https://image.flaticon.com/icons/png/512/1384/1384088.png"></img></a>
				</div>
				</div>
			</div>

		</div>
	</section>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
