<%- include('header'); %>

	<div class="main">
		<div class="search mt-4">
			<form action="/" method="POST">
				<div class="mb-3 search-box">
					<input type="text" class="form-control" placeholder="Enter the GeeksForGeeks Problem." name="searchQuery" required>
					<button type="submit" class="btn btn-danger mt-3">Search</button>
				</div>
			</form>
		</div>
	</div>
<%- include('footer'); %>